<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>
        Click 
        <a href="https://localhost:8080/burgers">here</a>
        to see the list of burgers
    </p>
</body>
</html>